{{template "base_not_auth" .}}
{{define "title"}}Зарегистрироваться{{end}}
{{define "main"}}
    <section class="ftco-section mt-3">
      <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7 col-lg-5">
          <div class="wrap">
            
              <div class="login-wrap p-4 p-md-5">
                <div class="d-flex">
                  <div class="w-100">
                    <h3 class="mb-4" style="color: #C3073F;">Зарегистрироваться</h3>
                  </div>
                
                </div>
                {{if eq .ErrorType "1"}}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <strong>Пароли не совпадают!</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть"></button>
                </div>
                {{end}}
                {{if eq .ErrorType "2"}}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <strong>Этот никнейм уже занят!</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть"></button>
                </div>
                {{end}}
                {{if eq .ErrorType "3"}}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Эта почта уже занята!</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть"></button>
                </div>
                {{end}}
                <form enctype="multipart/form-data" action="/signup" method="POST" class="signin-form">
                  <div class="form-group mt-3 mb-3">
                    <input type="text" class="form-control" required placeholder="Имя" name="name">
                  </div>
                  <div class="form-group mt-3 mb-3">
                    <input type="text" class="form-control" required placeholder="Фамилия" name="surname">
                  </div>  
                  <div class="form-group mt-3 mb-3">
                    <input type="text" class="form-control" required placeholder="Никнейм" name="nick">
                  </div> 
                  <div class="form-group mt-3 mb-3">
                    <input type="email" class="form-control" aria-describedby="emailHelp" required placeholder="Email" name="email">
                  </div>
                  <div class="form-group mt-3 mb-3">
                    <input id="password-field" type="password" class="form-control" required placeholder="Пароль" name="password">
                  </div>
                  <div class="form-group mt-3 mb-3">
                    <input id="password-field" type="password" class="form-control" required placeholder="Подтвердите пароль" name="password2">
                  </div>
                  <div class="form-group mt-3 mb-3">
                    <input type="file" class="form-file-input" name="myFile" accept="image/png, image/jpeg" id="ch-btn">
                  </div>
                  <div class="form-group mt-3 mb-3">
                    <button type="submit" class="form-control btn" id="login-btn">Подтвердить</button>
                  </div>
                </form>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{{end}}